
<div class="container mt-3" *ngIf="character && actor">
  <h1>{{character.knownAs}}'s Profile</h1>
  <div class="row mt-3">
      <div class="col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img src="{{character.imageUrl}}" alt="">
            </div>
            <div class="back">
              <img src="{{actor.photoUrl}}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h4 class="mt-3">Name</h4>
        <p>{{character.name || 'N/A'}}</p>
        <h4 class="mt-1">About</h4>
        <p>{{character.description|| 'N/A'}}</p>
        <h4 class="mt-1">Actor</h4>
        <p>{{actor.actor|| 'N/A'}}</p>
        <a (click)="goBack()"><u>Back</u></a>
      </div>
    </div>
</div>
<div class="container mt-3" *ngIf="!character || !actor">
  <h1>Hero not found</h1>
  <a (click)="goBack()"><u>Back</u></a>
</div>