
<div class="container mt-3">
    <div class="row">
        <div *ngFor="let hero of heroes" class="col-md-3">
            <div class="card text-white bg-primary mb-3" [routerLink]="['/heroes/', hero.id]">
                <div class="card-header ellipse">{{hero.name || 'N/A'}}</div>
                <img src="{{hero.imageUrl}}" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title ellipse">{{hero.knownAs}}</h4>
                    <p class="card-text ellipse max-line-2">{{hero.description || 'N/A'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>